<body>
<!--The Navigation Body-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <h2><a class="navbar-brand" href="#">ENDRY</a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="container-fluid">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
      <ul class="navbar-nav ml-auto">
                

           <li class="nav-item">
             <a class="nav-item nav-link active" role="button" routerLink="#"><i class="far fa-bell"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" role="button" routerLink="#" ><i class="fas fa-cog"></i></a>
              </li>
                <li class="nav-item">
                  <a class="nav-item nav-link active" role="button" routerLink="/accesslevel"><i class="far fa-user"></i></a>
                  </li>
            </ul>
  </div>
  </div>
</nav>

<br>
<br>
<br>

<!--The Main Body-->
<div class="col-md-12" style="text-align: center">
<h2>CHECKOUT PROCESS</h2>
</div>
<hr class="my-2">

<br>
<br>

<div class="conatiner-fluid">

<!--The Address Form-->
<div>
<h4><span class="badge badge-info">1</span> ADDRESS/ADDITIONAL INFORMATION</h4>
<hr class="my-2">
<br>
<br>

<div class="row">

  <div class="col-md-6">

     <form>

        <div class="form-group row">
            <label for="chkEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-5">
              <input type="text"  class="form-control" id="chkEmail" name="chkEmail" placeholder="Email">
            </div>
          </div>

          <div class="form-group row">
              <label for="chkPhoneNo" class="col-sm-3 col-form-label">Phone No</label>
              <div class="col-sm-5">
                <input type="text"  class="form-control" id="chkPhoneNo" name="chkPhoneNo" placeholder="Phone Number">
              </div>
            </div>

            <div class="form-group row">
                <label for="chkAddress" class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-5">
                  <input type="text"  class="form-control" id="chkAddress" name="chkAddress" placeholder="Address">
                </div>
              </div>

     </form>

  </div>

  <div class="col-md-6">
   
      <form >

          <div class="form-group row">
              <label for="chkCountry" class="col-sm-3 col-form-label">Country</label>
              <div class="col-sm-5">
                <input type="text"  class="form-control" id="chkCountry" name="chkCountry" placeholder="Country">
              </div>
            </div>

            <div class="form-group row">
                <label for="chkCounty" class="col-sm-3 col-form-label">County</label>
                <div class="col-sm-5">
                  <input type="text"  class="form-control" id="chkCounty" name="chkCounty" placeholder="County">
                </div>
              </div>

              <div class="form-group row">
                  <label for="chkCity" class="col-sm-3 col-form-label">City</label>
                  <div class="col-sm-5">
                    <input type="text"  class="form-control" id="chkCity" name="chkCity" placeholder="City">
                  </div>
                </div>

       </form>

</div>

</div>

</div>

<br>
<br>

<!--The Delivery Method-->
<div>
  <h4><span class="badge badge-info">2</span> DELIVERY METHOD</h4>
  <hr class="my-2">
  </div>

  <br>
  <br>

  <!--The Payment Method-->
  <div>
      <h4><span class="badge badge-info">3</span> PAYMENT METHOD</h4>
      <hr class="my-2">

      <br>
      <br>

      <h5><span>a)</span> CREDIT CARD</h5>
      <br>
       
      <div class="row">

          <div class="col-md-6">
            
              <form >

                  <div class="form-group row">
                      <label for="creditName" class="col-sm-3 col-form-label">NAME OF CARD</label>
                      <div class="col-sm-5">
                        <input type="text"  class="form-control" id="creditName" name="creditName" placeholder="Name Of Card">
                      </div>
                    </div>

                    <div class="form-group row">
                        <label for="expireDate" class="col-sm-3 col-form-label">EXPIRY DATE</label>
                        <div class="col-sm-5">
                          <input type="text"  class="form-control" id="expireDate" name="expireDate" placeholder="Name Of Card">
                        </div>
                      </div>

                </form>

          </div>

          <div class="col-md-6">

            <form >

                <div class="form-group row">
                    <label for="creditNo" class="col-sm-3 col-form-label">CARD NUMBER</label>
                    <div class="col-sm-5">
                      <input type="text"  class="form-control" id="creditNo" name="creditNo" placeholder="Card Number">
                    </div>
                  </div>

            </form>

          </div>

         </div>
  


      </div>
      <br>
      <br>        

      

</div><!--The Container Fluid div-->

<br>
<br>
<br>

<!--The Footer-->
<div class="container-fluid">
  <footer>
      <div id="footer-content">
        <div class="row">
         
         <div class="col-md-4" style="text-align: center">
             <h3 class="page-header">About</h3>
             <hr class="my-3">
             <p><a href="#">About Us</a></p>
             <p><a href="#">Services</a></p>
             <p><a href="#">FAQs</a></p>
         </div>

         <div class="col-md-4" style="text-align: center">
             <h3 class="page-header">Company</h3>
             <hr class="my-3">
             <p><a href="#">Contact Us</a></p>
             <p><a href="#">Help</a></p>
             <p><a href="#">Careers</a></p>
             <p><a href="#">Terms & Conditions</a></p>
           </div>

           <div class="col-md-4" style="text-align: center">
               <h3 class="page-header">Content And Social</h3>
               <hr class="my-3">
               <p><a href="#">Blog</a></p>
              <p><a href="#">Instagram</a></p>
               <p><a href="#">Twitter</a></p>
               <p><a href="#">LinkedIn</a></p>
             </div>

        </div>

      </div>

      <div class="col-md-12" style="text-align: center">
        <hr class="my-2">
        <h5>&copy; 2019 ENDRY</h5>
      </div>
  </footer>
</div>

</body>