<div class="container_fluid">

   <div class="card-deck">

                
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/desktops/Dell Inspiron 27.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center">Dell Inspirion</h5>
                  <p class="card-text">This particular item is usd mainly in the car business.</p>
                  <div class="ratings">
                <p class="float-right"><a href="#">10 Reviews</a></p>

                <p>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                </p>

                  </div>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
               
            
                
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/desktops/HP Pavilion.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center">HP Pavilion</h5>
                  <p class="card-text">This particular item is usd mainly in the car business.</p>
                  <div class="ratings">
                <p class="float-right"><a href="#">10 Reviews</a></p>

                <p>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                </p>

                  </div>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
               
            
                
              <div class="card" style="width: 18rem;">
                <img src="/assets/images/desktops/Dell Inspiron 7000.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center">Dell Inspirion 7000</h5>
                  <p class="card-text">This particular item is usd mainly in the car business.</p>
                  <div class="ratings">
                <p class="float-right"><a href="#">10 Reviews</a></p>

                <p>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                </p>

                  </div>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
                
            
                
              </div>

</div>