 <div class="container-fluid">
              <div class="card-deck">

                  
      
                      <div class="card" style="width: 18rem;">
                          <img src="/assets/images/laptops/Dell XPS 15 7590.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="text-align: center">Dell XPS 15</h5>
                            <p class="card-text">This particular item is usd mainly in the car business.</p>
                            <div class="ratings">
                          <p class="float-right"><a href="#">10 Reviews</a></p>
      
                          <p>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                          </p>
      
                            </div>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                          </div>
                        </div>
                  
      
                          <div class="card" style="width: 18rem;">
                              <img src="/assets/images/laptops/Surface Pro 5.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title" style="text-align: center">Surface Pro</h5>
                                <p class="card-text">This particular item is usd mainly in the car business.</p>
                                <div class="ratings">
                              <p class="float-right"><a href="#">10 Reviews</a></p>
          
                              <p>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                              </p>
          
                                </div>
                                <a href="/productdetail" class="btn btn-primary">Buy Now</a>
                              </div>
                            </div>

                            <div class="card" style="width: 18rem;">
                              <img src="/assets/images/laptops/Asus ZenBook.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title" style="text-align: center">Asus ZenBook</h5>
                                <p class="card-text">This particular item is usd mainly in the car business.</p>
                                <div class="ratings">
                              <p class="float-right"><a href="#">10 Reviews</a></p>
          
                              <p>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                              </p>
          
                                </div>
                                <a href="#" class="btn btn-primary">Buy Now</a>
                              </div>
                            </div>
          
                      
      
                   </div>
          </div>

