<body>
  <!--The Naviagtion Bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2><a class="navbar-brand" href="#">ENDRY</a></h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link active" routerLink="/main">Home <span class="sr-only">(current)</span></a>
            </li>
              <li class="nav-item">
                <a class="nav-item nav-link active" routerLink="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item nav-link active" routerLink="#">Contact</a>
                  </li>
              </ul>
    </div>
  </nav>

  <!--The Main Body-->
  <div class="container-fluid">
    <div class="col-12" style="text-align: center">
    <h1>ENDRY</h1>
    </div>
 
    <br>
    <br>
 
    <div class="col-12" style="text-align: center">
     <h2>BLOG POSTS</h2>
     <hr class="my-2">
     <br>
    </div>
 
   </div>  

   <br>
   <br>
   <br>

<div class="container-fluid">
  
  <div class="row">
  <div class="col-9">

    <ul class="list-unstyled">
      <li class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Why E-Commerce Is The New Frontier</h5>
          E-Commerce is really the new frontier in Africa.
          <div>
          <a class="nav-item nav-link active" href="#" role="button" class="btn btn-outline-danger">Read More</a>
          </div>
        </div>
      </li>
      <li class="media my-4">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Why Businesses Should Embarce Technology</h5>
          Technology in this day and age is really integral in running the daily operations of an organization.
          <div>
            <a class="nav-item nav-link active" href="#" role="button" class="btn btn-outline-danger">Read More</a>
            </div>
        </div>
      </li>
      <li class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Why Data Is The New Oil</h5>
         Data is and will run businesses both today and tomorrow.
         <div>
          <a class="nav-item nav-link active" href="#" role="button" class="btn btn-outline-danger">Read More</a>
          </div>
        </div>
      </li>
    </ul>

  </div>

<div class="col-3">

  <div style="text-align: center">
    <h5 class="mt-0 mb-1">Latest News</h5>
    <hr class="my-2">
  </div>

  <ul class="list-unstyled">
<li>New Banking Regulations Take Effect.</li>
<li>Loan Lending Apps Under Scrutiny.</li>
<li>Plans to ramp up investment in the online trading sector.</li>
  </ul>

</div>

</div>

</div>

<br>
<br>
<br>
<br>

 <!--The Footer-->
 <div class="container-fluid">
  <footer>
      <div id="footer-content">
        <div class="row">
         
         <div class="col-4" style="text-align: center">
             <h3 class="page-header">About</h3>
             <hr class="my-3">
             <p><a href="#">About Us</a></p>
             <p><a href="#">Services</a></p>
             <p><a href="#">FAQs</a></p>
         </div>

         <div class="col-4" style="text-align: center">
             <h3 class="page-header">Company</h3>
             <hr class="my-3">
             <p><a href="#">Contact Us</a></p>
             <p><a href="#">Help</a></p>
             <p><a href="#">Careers</a></p>
             <p><a href="#">Terms & Conditions</a></p>
           </div>

           <div class="col-4" style="text-align: center">
               <h3 class="page-header">Content And Social</h3>
               <hr class="my-3">
               <p><a href="#">Blog</a></p>
              <p><a href="#">Instagram</a></p>
               <p><a href="#">Twitter</a></p>
               <p><a href="#">LinkedIn</a></p>
             </div>

        </div>

      </div>

      <div class="col-12" style="text-align: center">
        <hr class="my-2">
        <h5>&copy; 2019 ENDRY</h5>
      </div>
  </footer>
</div>


</body>